<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <appSettings>
    <!-- 
      Conventional names.
      By default owner in MS SQL database is "dbo". 
      But table name can be not unique and other users can use same table name as a default owner for example:
      "dbo.MyTable1" and "user.MyTable1" are different tables.
      
      Thus, generator will make following conversion:
        from MS SQL "dbo.MyTable1" to odata as "MyTable1"
        from MS SQL "user1.MyTable1" to odata as "user1_MyTable1"
    -->
    <add key="defaultSchema" value="dbo" />
    <!--
        If you receive error "Invalid token '%s' in class, struct, or interface member declaration"
        and your table names or field names include c# reserverd keywords, then you need to use prefix for names of namespaces,
        classes, properties and etc!
        
        For example:
        Your table has field name "short", "short" is c# keyword that's why for name conversion you need use this:
        prefixCSharp = "Azdara_"
        Then field name "short" will be converted to "Azdara_short".
     -->
    <add key="prefixCSharp" value="" />

    <add key="maxServerPageSize" value="1000" />
    <add key="defaultConnectionString" value="Chinook" />
  </appSettings>
  <connectionStrings>
    <clear />
    <!--https://github.com/lerocha/chinook-database-->
    <!--https://raw.githubusercontent.com/lerocha/chinook-database/master/ChinookDatabase/DataSources/Chinook_SqlServer.sql-->
    <add name="Chinook" connectionString="data source=.\SQLEXPRESS;initial catalog=Chinook;integrated security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />

    <add name="dbConstructorDC" connectionString="data source=FLINT-SAN-HP\SQLEXPRESS;initial catalog=dbConstructorDC;Persist Security Info=True;User ID=webClientConstructor;Password=pr0fi1esCh@rts;Asynchronous Processing=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="dbHistoryDC" connectionString="data source=10.8.136.34;initial catalog=dbHistory;Persist Security Info=True;User ID=inetpubs;Password=inetpubs;Asynchronous Processing=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="dbParadigmaDC" connectionString="data source=10.8.136.36;initial catalog=dbParadigma;Persist Security Info=True;User ID=inetpubs;Password=inetpubs;Asynchronous Processing=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <add name="dbHistoryKHP" connectionString="data source=10.8.109.144;initial catalog=dbHistory;Persist Security Info=True;User ID=webClientConstructor;Password=pr0fi1esCh@rts;Asynchronous Processing=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <add name="OPCDA" connectionString="data source=FLINT-SAN-HP\SQLEXPRESS;initial catalog=OPCDA;Persist Security Info=false;Integrated Security=true;Asynchronous Processing=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DomCehExample" connectionString="data source=FLINT-SAN-HP\SQLEXPRESS;initial catalog=dc;Persist Security Info=false;Integrated Security=true;Asynchronous Processing=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />

    <add name="APNSS" connectionString="data source=172.18.20.101;initial catalog=APNSS;Persist Security Info=True;User ID=admin;Password=adminkonsom;Asynchronous Processing=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="APNSD" connectionString="data source=172.18.20.101;initial catalog=APNSD;Persist Security Info=True;User ID=admin;Password=adminkonsom;Asynchronous Processing=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="APWHS" connectionString="data source=172.18.20.101;initial catalog=APWHS;Persist Security Info=True;User ID=admin;Password=adminkonsom;Asynchronous Processing=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="APPPS" connectionString="data source=172.18.20.101;initial catalog=APPPS;Persist Security Info=True;User ID=admin;Password=adminkonsom;Asynchronous Processing=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Wonderwave_Ecology" connectionString="data source=172.30.83.44;initial catalog=Runtime;Persist Security Info=True;User ID=odata;Password=testOD@t@4;Asynchronous Processing=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.5.0" newVersion="5.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.5.0" newVersion="5.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.4.4.20330" newVersion="7.4.4.20330" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.4.4.20330" newVersion="7.4.4.20330" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.4.4.20330" newVersion="7.4.4.20330" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>